.modal {
    background: linear-gradient(180deg, #131317 -60.19%, rgba(65, 66, 99, 0.09) 100%);
}

.modal .modal-content {
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(70px);
    border-radius: 20px;
    color: white
}

.modal-title {
    width: 80%;
    padding-bottom: 10px;
    margin: auto;
    text-align: center;
    font-family: Helvetica, serif;
    font-size: 40px;
    line-height: 110%;
    /* or 53px */
    letter-spacing: 0.01em;
    border-bottom: #E7E7F2 1px solid;
}

.input-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70%;
    margin: 30px auto 0 auto;
}


.input-placeholder {
    font-family: Roboto, serif;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 28px;
}

.input-field {
    opacity: 0.3;
    border: 1px solid #E7E7F2;
    box-sizing: border-box;
    border-radius: 10px;
    height: 50px;
}

.input-button {
    width: 200px;
    height: 60px;
    margin: 30px auto auto;
}

.password-forgot {
    width: 100%;
    margin: auto;
    text-align: center;
    font-family: Roboto, serif;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 21px;
    text-decoration: underline;
}

.error {
    font-size: 14px;
    color: red;
    margin-top: 10px;
    margin-left: 20px;
    margin-bottom: -10px;
}